@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2f2f2f;
  --foreground: #ededed;
}
/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    --background: #ffffff;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: linear-gradient(180deg, rgba(47,47,47,1) 0%, rgb(44, 44, 44) 100%) fixed;
  font-family: Arial, Helvetica, sans-serif;
}
.title{
  padding: 20px;
  text-align: center;
}
table{
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 3px;
}
th, td{
  padding: 10px 20px;
}
thead{
  background: #243950;
}
tbody{
  background: #232323;
}
tbody tr:hover{
  background-color: #171717;
}
.infobox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75);
}
.infobox table{
  margin-top: 30vh;
  width: 70vw;
  border-collapse: separate;
  border-spacing: 1px 3px;
}
.infobox td{
  border: none;
}
.infobox tbody tr:hover{
  background: #232323;
}
.name{
  background: #243950;
}
.x{
  position: absolute;
  right: 13.8vw;
  top: 27vh;
  scale: 150%;
  opacity: 0.75;
}
.x:hover{
  opacity: 1;
}
select{
  background: #243950;
  text-align: center;
}